.header__logo-link {
  display: block;
  margin-bottom: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 425px) {
  .header__logo-link {
    margin-bottom: 30px;
  }
}
