.elements__remove {
  cursor: pointer;
  outline: none;
  padding: 0;
  border: 0;
  position: absolute;
  top: 15px;
  right: 12px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url(../../../images/remove-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
}

.elements__remove:hover {
  opacity: 0.7;
}
