@import url(./__container/pop-up__container.css);
@import url(./__close-icon/pop-up__close-icon.css);


.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
