.header__logo {
  width: 142px;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 104px;
  }
}

@media screen and (max-width: 936px) {
  .header__logo {
    padding-left: 27px;
  }
}
