.profile__edit-button {
  margin-left: 17px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  background-image: url(../../../images/editor.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-in-out;
  flex-shrink: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/editor.svg);
    background-size: 50%;
  }
}

@media screen and (max-width: 590px) {
  .profile__edit-button {
    margin-left: 8px;
  }
}
