.profile__avatar-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s;
}

.profile__avatar-container:after {
    content: url(../../../images/vector.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    opacity: 0;
  }

  .profile__avatar-container:hover {
    cursor: pointer;
  }
  
  .profile__avatar-container:hover:after {
    opacity: 1;
  }
  
  .profile__avatar-container:hover .profile__avatar{
    opacity: 0.2;
  }