.elements__item-bottom {
  background-color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
