@import "./__container/pop-up__container.css";
@import "./__close-icon/pop-up__close-icon.css";

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

