.pop-up__close-icon {
  display: block;
  outline: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-in-out;
  margin-left: auto;
  margin-right: -33px;
  margin-bottom: -4px;
  background-color: transparent;
  border: none;
}

.pop-up__close-icon:hover {
  opacity: 0.6;
}